:root{
    --primary-color: #3f3b3b;
    --secondary-color: #201e1e;
    --tertiary-color: #888888;
    --bg-color: #f6f6f6;
    --highlight: #F4991A;
}

html, body {
    height: 100%;
    margin: 0;
}

body{
    margin: 20px 20px;
    box-sizing: none;
    display: flexbox;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 5px 5px 8px var(--tertiary-color);
    border-radius: 10px;
    position: fixed;
    width: 97%;
    margin-top: 1rem;
    top: 0;
    z-index: 1000;
}

header h1{
    margin-left: 2rem;
    color: var(--primary-color);    
}

header nav a{
    color: var(--primary-color);
    margin-right: 2rem;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover{
    color: rgb(11, 71, 123);
}


main{
    margin-top: 20rem;
    margin-left: 8rem ;
    margin-right: 8rem;
    text-align: justify;
    flex: 1;
}


.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    text-align: center;
    margin-top: 15rem;
}

.introduction h1{
    font-size: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0;
}

.introduction p{
    color: var(--tertiary-color);
    font-size: .9rem;
}

.introduction article{
    margin-top: 1rem;
}

.introduction button{
    color: var(--primary-color);
    background: var(--bg-color);
    box-shadow: 5px 5px 8px var(--tertiary-color);
    padding: 0.5rem;
    width: 12rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.introduction button:hover{
    background: var(--secondary-color);
    color: white;
}

footer {
    background: var(--secondary-color);
    bottom: 0;
    color: white;
    text-align: center;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer nav{
    margin-top: 1rem;
}

footer a{
    color: white;
    text-decoration: none;
    margin-right: 1.5rem;
}

footer a:hover{
    color: #796a6a;
}

footer p{
    font-size: 0.7rem;
    color: var(--tertiary-color);
}
/* Dont touch */

section{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 0 4px 12px rgba(0,0,0,01);
    border-radius: 3rem;
    margin-bottom: 2rem;
    
}

section h2{
    background: var(--highlight);
    text-align: center;
    padding: 0.5rem;
    color: #f6f6f6;
    box-shadow: 0 2px 12px rgba(0,0,0,01);

}

table, th, td {
      border:1px solid black;
      border-collapse: collapse;
      padding: 6px;
}

section article img{
    width: 500px;
    height: 300px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0,0,0,01);
    border-radius: 2rem;
    border: var(--secondary-color);
}