/* MAIN */
body{
    background-color: white;
    padding: 20px;
    display: block;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: center;
}

main{
    margin: 8rem 8rem;
}
.int{
    font-weight: 800;
    font-size: larger;
    color: rgb(16, 1, 1);
}
.ul1, li{
    
}

p{
    color: rgb(16, 1, 1);
    text-align: center;
}

.table1{
   color: rgb(16, 1, 1);
}

.table1 th{
    color: rgb(16, 1, 1);
}
.int1 div{
    color: rgb(16, 1, 1);
}



ul li{
    color: rgb(16, 1, 1);
}

ol li{
    color: rgb(16, 1, 1);
}

h2{
    color: rgb(16, 1, 1);
}

h3{
    color: rgb(16, 1, 1);
}

.int p{
    color: rgb(16, 1, 1);
    text-align: center;
}

.img1{
    display:inline-block;
    align-items: center;
    text-align: center;
    display: block;
    margin: auto;
}



section{
    margin-top: 2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,01);
}
/* MAIN */
